<div id="mainDiv">
    <h1>Welcome to CSE Motors!</h1>
    <div class="delorean">
        <div class="delAd">
            <h3>DMC Delorean</h3>
            <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
            <button><strong>Own Today</strong></button>
        </div>
    </div>
    <div>
        <section>
            <h2>Delorean Updgrades</h2>
            <article>
                <section>
                    <img src="/images/upgrades/flux-cap.png" alt="Flux capacitor upgrade">
                    <p>Flux Capacitor</p>
                </section>
                <section>
                    <img src="/images/upgrades/flame.jpg" alt="Flame decals upgrade">
                    <p>Flame Decals</p>
                </section>
                <section>
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper stickers upgrade">
                    <p>Bumper Stickers</p>
                </section>
                <section>
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub caps upgrade">
                    <p>Hub Caps</p>
                </section>
            </article>
        </section>
        <section>
            <h2>DMC Delorean Reviews</h2>
            <ul>
                <li>"So fast it's almost like travelling in time." (4/5)</li>
                <li>"Coolest ride on the road." (4/5)</li>
                <li>"I'm feeling McFly!" (5/5)</li>
                <li>"The most futuristic ride of our day." (4.5/5)</li>
                <li>"80's livin and I love it!" (5/5)</li>
            </ul>
        </section>
    </div>
</div>

